In [1]:
import pandas as pd
import datetime, json, requests

from brownie import web3, network, Wei, Contract, project
from brownie.network.account import LocalAccount

In [3]:
def telegram_bot_sendtext(bot_message):
    
    bot_token = '1262543569:AAEX0QVuvGpyooBG5R3Cztq1wwdaDAcZwQ4'
    bot_chatID = '-456518436'
    send_text = 'https://api.telegram.org/bot' + bot_token + '/sendMessage?chat_id=' + bot_chatID + '&text=' + bot_message

    response = requests.get(send_text)

    return response.json()

In [4]:
network_selected = "ropsten"
try: 
    network.connect(network_selected)
except: 
    network.connect(network_selected, launch_rpc=False)

In [5]:
## Admin account
fss_admin_private_key = "ede4dd8a3584fd7809a5e0bb299ff8f51983af5b1a9f1f506165b5c1f09e22b1"
fss_admin_account = web3.eth.account.from_key(private_key=fss_admin_private_key)
local_account_admin = LocalAccount(fss_admin_account.address, fss_admin_account, fss_admin_account.privateKey)

In [6]:
## Init team1 (CST) and team3 (AA) tokens, exchanges and the PayCoin

print("Opening the contract...")
with open('../../../../blockchain_course_unimi/challenge/teamCST/abi/Exchange.json') as json_file: 
    exchange_CST_abi = json.load(json_file)
exchange_CST = Contract.from_abi('ExchangeCST', address='0xf6595CF80173Edf534469B15170370AbFF3FDdAb', abi=exchange_CST_abi)

with open('../../../../blockchain_course_unimi/challenge/teamAA/abi/real/exchange.json') as json_file: 
    exchange_AA_abi = json.load(json_file)
exchange_AA = Contract.from_abi('ExchangeAA', address='0x5b349092f8F7A4f033743e064c61FDAea6629Db2', abi=exchange_AA_abi)
print("Finished opening.")

Opening the contract...
Finished opening.

In [23]:
df_CST = pd.read_csv(r'./token_prices.csv', sep='\t', index_col=0, usecols=[0, 1])
df_AA = pd.read_csv(r'./token_prices.csv', sep='\t',  index_col=0, usecols=[0, 2], nrows=8808)

In [24]:
df_CST

                         TokenCST
2019-06-23 18:00:00  1.573000e+19
2019-06-23 19:00:00  1.560000e+19
2019-06-23 20:00:00  1.592000e+19
2019-06-23 21:00:00  1.618000e+19
2019-06-23 22:00:00  1.602000e+19
...                           ...
2020-06-24 13:45:00  2.115000e+19
2020-06-24 14:00:00  2.112000e+19
2020-06-24 14:15:00  2.149000e+19
2020-06-24 14:30:00  2.110000e+19
2020-06-24 14:45:00  2.140000e+19

[8838 rows x 1 columns]

In [25]:
df_AA

                          TokenAA
2019-06-23 18:00:00  5.026900e+16
2019-06-23 19:00:00  5.030100e+16
2019-06-23 20:00:00  5.024900e+16
2019-06-23 21:00:00  5.018420e+16
2019-06-23 22:00:00  5.025000e+16
...                           ...
2020-06-24 06:15:00  1.851450e+17
2020-06-24 06:30:00  1.857010e+17
2020-06-24 06:45:00  1.853808e+17
2020-06-24 07:00:00  1.892000e+17
2020-06-24 07:15:00  1.899020e+17

[8808 rows x 1 columns]

In [26]:
prices_list_CST = []
prices_list_AA = []

In [27]:
exchange_CST.lastPrice()[0]

8871

In [29]:
exchange_AA.lastPrice()[0]

8831

In [30]:
for i in range(8839, exchange_CST.lastPrice()[0]+1): 
    try:
        prices_list_CST.append(exchange_CST.getHistory(i))
    except:
        print(i)
        print(Exception)
        continue

In [31]:
for i in range(8809, exchange_AA.lastPrice()[0]+1):
    try:
        prices_list_AA.append(exchange_AA.getHistory(i))
    except: 
        print(Exception)
        continue

In [32]:
df_CST_temp = pd.DataFrame(prices_list_CST, columns=['TokenCST'])
df_AA_temp = pd.DataFrame(prices_list_AA, columns=['TokenAA'])

In [34]:
print(df_CST.tail())
df_CST_temp

                         TokenCST
2020-06-24 13:45:00  2.115000e+19
2020-06-24 14:00:00  2.112000e+19
2020-06-24 14:15:00  2.149000e+19
2020-06-24 14:30:00  2.110000e+19
2020-06-24 14:45:00  2.140000e+19

                TokenCST
0   21980000000000000000
1   21830000000000000000
2   21720000000000000000
3   21760000000000000000
4   21840000000000000000
5   21700000000000000000
6   21820000000000000000
7   21890000000000000000
8   21760000000000000000
9   21680000000000000000
10  21960000000000000000
11  21840000000000000000
12  21890000000000000000
13  21950000000000000000
14  22100000000000000000
15  22000000000000000000
16  22040000000000000000
17  22150000000000000000
18  22080000000000000000
19  22080000000000000000
20  21740000000000000000
21  21780000000000000000
22  21840000000000000000
23  21850000000000000000
24  21880000000000004000
25  22050000000000000000
26  21980000000000000000
27  22090000000000000000
28  22100000000000000000
29  22090000000000000000
30  22060000000000000000
31  22040000000000000000
32  22200000000000000000

In [35]:
print(df_AA.head())
df_AA_temp

                          TokenAA
2019-06-23 18:00:00  5.026900e+16
2019-06-23 19:00:00  5.030100e+16
2019-06-23 20:00:00  5.024900e+16
2019-06-23 21:00:00  5.018420e+16
2019-06-23 22:00:00  5.025000e+16

               TokenAA
0   193099900000000000
1   193511400000000000
2   194189500000000000
3   197200000000000000
4   194265100000000000
5   189200000000000000
6   191099900000000000
7   186124400000000000
8   189100000000000000
9   188712299999999968
10  193523500000000000
11  191715299999999968
12  194200000000000000
13  195300000000000000
14  198623000000000000
15  197999400000000000
16  196022900000000000
17  195923700000000000
18  194500000000000000
19  192622400000000000
20  190411500000000000
21  194009000000000000
22  192071900000000032

In [36]:
def datetime_range(start, end, delta):
    current = start
    if not isinstance(delta, datetime.timedelta):
        delta = datetime.timedelta(**delta)
    while current < end:
        yield current
        current += delta

In [56]:
start = datetime.datetime(2020,6,24,15)
end = datetime.datetime(2020,6,24,18)

In [86]:
dates = []
dates_refined = []

In [87]:
for dt in datetime_range(start, end, {'seconds': 300}):
    dates.append(dt)

In [88]:
len(prices_list_CST)

33

In [89]:
for i in range(1, 34): 
    dates_refined.append(dates[-i])

In [90]:
dates_refined.reverse()
dates_refined

[datetime.datetime(2020, 6, 24, 15, 15),
 datetime.datetime(2020, 6, 24, 15, 20),
 datetime.datetime(2020, 6, 24, 15, 25),
 datetime.datetime(2020, 6, 24, 15, 30),
 datetime.datetime(2020, 6, 24, 15, 35),
 datetime.datetime(2020, 6, 24, 15, 40),
 datetime.datetime(2020, 6, 24, 15, 45),
 datetime.datetime(2020, 6, 24, 15, 50),
 datetime.datetime(2020, 6, 24, 15, 55),
 datetime.datetime(2020, 6, 24, 16, 0),
 datetime.datetime(2020, 6, 24, 16, 5),
 datetime.datetime(2020, 6, 24, 16, 10),
 datetime.datetime(2020, 6, 24, 16, 15),
 datetime.datetime(2020, 6, 24, 16, 20),
 datetime.datetime(2020, 6, 24, 16, 25),
 datetime.datetime(2020, 6, 24, 16, 30),
 datetime.datetime(2020, 6, 24, 16, 35),
 datetime.datetime(2020, 6, 24, 16, 40),
 datetime.datetime(2020, 6, 24, 16, 45),
 datetime.datetime(2020, 6, 24, 16, 50),
 datetime.datetime(2020, 6, 24, 16, 55),
 datetime.datetime(2020, 6, 24, 17, 0),
 datetime.datetime(2020, 6, 24, 17, 5),
 datetime.datetime(2020, 6, 24, 17, 10),
 datetime.datetime(2020, 6, 24, 17, 15),
 datetime.datetime(2020, 6, 24, 17, 20),
 datetime.datetime(2020, 6, 24, 17, 25),
 datetime.datetime(2020, 6, 24, 17, 30),
 datetime.datetime(2020, 6, 24, 17, 35),
 datetime.datetime(2020, 6, 24, 17, 40),
 datetime.datetime(2020, 6, 24, 17, 45),
 datetime.datetime(2020, 6, 24, 17, 50),
 datetime.datetime(2020, 6, 24, 17, 55)]

In [91]:
df_CST_temp.index = dates_refined
df_CST_temp

                                 TokenCST
2020-06-24 15:15:00  21980000000000000000
2020-06-24 15:20:00  21830000000000000000
2020-06-24 15:25:00  21720000000000000000
2020-06-24 15:30:00  21760000000000000000
2020-06-24 15:35:00  21840000000000000000
2020-06-24 15:40:00  21700000000000000000
2020-06-24 15:45:00  21820000000000000000
2020-06-24 15:50:00  21890000000000000000
2020-06-24 15:55:00  21760000000000000000
2020-06-24 16:00:00  21680000000000000000
2020-06-24 16:05:00  21960000000000000000
2020-06-24 16:10:00  21840000000000000000
2020-06-24 16:15:00  21890000000000000000
2020-06-24 16:20:00  21950000000000000000
2020-06-24 16:25:00  22100000000000000000
2020-06-24 16:30:00  22000000000000000000
2020-06-24 16:35:00  22040000000000000000
2020-06-24 16:40:00  22150000000000000000
2020-06-24 16:45:00  22080000000000000000
2020-06-24 16:50:00  22080000000000000000
2020-06-24 16:55:00  21740000000000000000
2020-06-24 17:00:00  21780000000000000000
2020-06-24 17:05:00  21840000000000000000
2020-06-24 17:10:00  21850000000000000000
2020-06-24 17:15:00  21880000000000004000
2020-06-24 17:20:00  22050000000000000000
2020-06-24 17:25:00  21980000000000000000
2020-06-24 17:30:00  22090000000000000000
2020-06-24 17:35:00  22100000000000000000
2020-06-24 17:40:00  22090000000000000000
2020-06-24 17:45:00  22060000000000000000
2020-06-24 17:50:00  22040000000000000000
2020-06-24 17:55:00  22200000000000000000

In [92]:
len(prices_list_AA)

23

In [93]:
dates_refined = []
for i in range(1, 24): 
    dates_refined.append(dates[-i])

In [94]:
dates_refined.reverse()

In [95]:
df_AA_temp.index = dates_refined

In [96]:
df_CST_1 = pd.concat([df_CST, df_CST_temp])
df_CST_1

                                 TokenCST
2019-06-23 18:00:00             1.573e+19
2019-06-23 19:00:00              1.56e+19
2019-06-23 20:00:00             1.592e+19
2019-06-23 21:00:00             1.618e+19
2019-06-23 22:00:00             1.602e+19
...                                   ...
2020-06-24 17:35:00  22100000000000000000
2020-06-24 17:40:00  22090000000000000000
2020-06-24 17:45:00  22060000000000000000
2020-06-24 17:50:00  22040000000000000000
2020-06-24 17:55:00  22200000000000000000

[8871 rows x 1 columns]

In [97]:
df_AA_1 = pd.concat([df_AA, df_AA_temp])
df_AA_1

                          TokenAA
2019-06-23 18:00:00  5.026900e+16
2019-06-23 19:00:00  5.030100e+16
2019-06-23 20:00:00  5.024900e+16
2019-06-23 21:00:00  5.018420e+16
2019-06-23 22:00:00  5.025000e+16
...                           ...
2020-06-24 17:35:00  1.945000e+17
2020-06-24 17:40:00  1.926224e+17
2020-06-24 17:45:00  1.904115e+17
2020-06-24 17:50:00  1.940090e+17
2020-06-24 17:55:00  1.920719e+17

[8831 rows x 1 columns]

In [98]:
df_final = df_CST_1.join(df_AA_1)

In [99]:
df_final.to_csv('./token_prices.csv', sep='\t')