In [1]:
import pandas as pd
import numpy as np
import datetime
import random 
import json 
import time

In [13]:
df_CST = pd.read_csv(r'./token_prices.csv', sep='\t', index_col=0, usecols=[0, 1])
df_AA = pd.read_csv(r'./token_prices.csv', sep='\t',  index_col=0, usecols=[0, 2])

In [14]:
df_CST

                         TokenCST
2019-06-23 18:00:00  1.573000e+19
2019-06-23 19:00:00  1.560000e+19
2019-06-23 20:00:00  1.592000e+19
2019-06-23 21:00:00  1.618000e+19
2019-06-23 22:00:00  1.602000e+19
...                           ...
2020-06-24 13:45:00  2.115000e+19
2020-06-24 14:00:00  2.112000e+19
2020-06-24 14:15:00  2.149000e+19
2020-06-24 14:30:00  2.110000e+19
2020-06-24 14:45:00  2.140000e+19

[8838 rows x 1 columns]

In [15]:
df_AA

                          TokenAA
2019-06-23 18:00:00  5.026900e+16
2019-06-23 19:00:00  5.026900e+16
2019-06-23 20:00:00  5.026900e+16
2019-06-23 21:00:00  5.026900e+16
2019-06-23 22:00:00  5.026900e+16
...                           ...
2020-06-24 13:45:00  1.851450e+17
2020-06-24 14:00:00  1.857010e+17
2020-06-24 14:15:00  1.853808e+17
2020-06-24 14:30:00  1.892000e+17
2020-06-24 14:45:00  1.899020e+17

[8838 rows x 1 columns]